<!-- ############ Footer ############### -->
<style>
  footer {
  height: 497px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
.footer-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  
}

.footer-logo {
  height: 224px;
  width: 422px;
}
.footer-logo img {
  height: 86px;
  width: 229px;
  margin-bottom: 14px;
}
.footer-logo p {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 40px;
}

.footer-socials {
  height: 28.40px;
  width: 246.93px;
  display: flex;
  gap: 80px;
  margin-top: 40px;
}

.footer-socials img {
  height: 28.39px;
  width: 28.37px;
}

.footer-links {
  height: 199.77px;
  width: 175px;
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.footer-links h3 {
  color: #ffffff;
  font-size: 28px;
  font-weight: 600;
}
.footer-links a {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
}

.footer-subscribe {
  height: 286px;
  width: 409.36px;
}

.footer-subscribe h3 {
  color: #ffffff;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 36.53px;
}
.footer-subscribe input {
  height: 49.9px;
  width: 409.36px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #000;
  padding: 10px;
  
}
.footer-subscribe button {
  height: 47.27px;
  width: 180.24px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 7px;
  background-color: #ffffff;
}

.footer-subscribe button:hover {
  cursor: pointer;
}

.footer-pesq {
  height: 53.9px;
  width: 409.36px;
  background-color: #000000;
  border: 2px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 2px;
}
.footer-subscribe h5 {
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 149.57px;
}

/* pop up */

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  position: relative;
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 24px;
  cursor: pointer;
}

.popup-content input {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.popup-content button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.popup-content button[type="submit"]:hover {
  background-color: #333;
}
</style>

<footer class="site-footer">

        <div class="footer-container">
          <div class="footer-logo-socials">
            <div class="footer-logo">
              <img src="/src/assets/images/logotipo-severinos.png" alt="Logotipo severinos">
              <p>A Severinos conecta você aos melhores profissionais da sua região para serviços domésticos e comerciais com segurança e qualidade.</p>
              
            </div>
            <div class="footer-socials">
              <a href="">
                <img class="image-face" src="/src/assets/images/logo-face.svg" alt="Logo do Facebook">
              </a>

              <a href="">
                <img class="image-insta" src="/src/assets/images/logo-insta.svg" alt="Logo do Instagram">
              </a>

              <a class="image-linkedin" href="">
                <img src="/src/assets/images/logo-linkedin.svg" alt="Logo do Linkedin">
              </a>
            </div>
          </div>  
          
            <div class="footer-links">
                <h3>Links úteis:</h3>
                <a href="#">Inicio</a>
                <a href="#servico">Serviços</a>
                <a href="#">Contato</a>
                <a href="#">Politica de privacidade</a>
            </div>

            <div class="footer-subscribe">
              <h3>Receba novidades e promoções:</h3>
              
              <div class="footer-pesq">
                <input type="email" placeholder="Campo de email">
                <button>INSCREVER</button>
              </div>
              <h5>Logo © 2025 Severinos. Todos os direitos reservados.</h5>
            </div>
          </div>
      </footer>

      
