<!-- ############ Footer ############### -->
<footer class="site-footer">

        <div class="footer-container">
          <div class="footer-logo-socials">
            <div class="footer-logo">
              <img src="/src/assets/images/logotipo-severinos.png" alt="Logotipo severinos">
              <p>A Severinos conecta você aos melhores profissionais da sua região para serviços domésticos e comerciais com segurança e qualidade.</p>
              
            </div>
            <div class="footer-socials">
              <a href="">
                <img class="image-face" src="/src/assets/images/logo-face.svg" alt="Logo do Facebook">
              </a>

              <a href="">
                <img class="image-insta" src="/src/assets/images/logo-insta.svg" alt="Logo do Instagram">
              </a>

              <a class="image-linkedin" href="">
                <img src="/src/assets/images/logo-linkedin.svg" alt="Logo do Linkedin">
              </a>
            </div>
          </div>  
          
            <div class="footer-links">
                <h3>Links úteis:</h3>
                <a href="#">Inicio</a>
                <a href="#servico">Serviços</a>
                <a href="#">Contato</a>
                <a href="#">Politica de privacidade</a>
            </div>

            <div class="footer-subscribe">
              <h3>Receba novidades e promoções:</h3>
              
              <div class="footer-pesq">
                <input type="email" placeholder="Campo de email">
                <button>INSCREVER</button>
              </div>
              <h5>Logo © 2025 Severinos. Todos os direitos reservados.</h5>
            </div>
          </div>
      </footer>
